.tabs {
  display: grid;
}

[role="tablist"] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

[role="tabpanel"] {
  background: yellow;
  padding: 2rem;
}

button {
  background: lightgreen;
  border: 0;
  color: black !important;
  border-radius: 5px 5px 0 0;
  color: rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
  box-shadow: inset 0 -2px 5px lawngreen;
  cursor: pointer;
}

button[aria-selected="true"] {
  background: yellow;
  box-shadow: none;
}

button:focus {
  outline: 0;
  color: rgba(0, 0, 0, 0.6);
}
